<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../../partials/head.ejs") %>
        <link rel="stylesheet" href="/css/posts.css">
        <script>let thisQuery = '<%-JSON.stringify(query)%>';
        
        </script>
        <script src="/js/posts.js"></script>
        <script src="/js/posts_scroll.js"></script>
    </head>
    <body>
        <header>
            <%- include("../../partials/nav.ejs") %>
        </header>
        <main>
            <%- include("../../partials/main.ejs") %>

            <div class="container search-bar">
                <form action="/search/following" method="GET">
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="search" name="q" id="q" placeholder="Search">
                        </div>
                        <div class="input-field col s2 xl1 cat-select">
                            <select name="cat" id="cat">
                                <option value="tags">Tag</option>
                                <option value="author">User</option>
                                <option value="location">Place</option>
                            </select>
                        </div>
                        <input type="submit" style="display: none;">
                    </div>
                </form>
            </div>


            
            <div class="container post-container section">
                <% if (currentUser.following.length === 0) {%>
                    <p class="center-align">Follow people to build up following feeds</p>
                    
                <%}%>
                <div class="row">
                    <% posts.forEach(post => { %>
                        <div class="col s12 m6 xl4">
                            <div class="card hoverable medium post-card">
                                
                                <div class="card-image">
                                    <% if (post.img) {%>
                                        <img src="<%=post.img%>" class="materialboxed">
                                    <%} else {%>
                                        <div class="video-container">
                                            <iframe src="<%=post.video%>" frameborder="0" allowfullscreen></iframe>
                                          </div>
                                        
                                    <%}%>
                                </div>
                                <div class="card-content">
                                    <a href="/posts/<%=post._id%>" class="post-link"></a>
                                    <span><%=post.likes.length%> Likes</span>
                                    <span class="right">by <a href="/users/<%=post.author%>"><%=post.author%></a></span><br>
                                    <span class="grey-text date-text">
                                        <% if (post.created > 1) { %>
                                            <%=post.created%> Days Ago
                                        <% } else if (post.created === 1) { %>
                                            1 Day Ago
                                        <%} else {%>
                                            today
                                        <%}%>
                                    
                                    </span>

                                    <% if (post.location) {%>
                                        <span class="right"><i class="material-icons location-icon">location_on</i><%=post.location%></span><br>
                                    <%}%>
                                    
                                    <p class="truncate"><%=post.description%></p>
                                    <span><%= "#" + post.tags.join(", #")%></span><br>
                                    <!-- <span>tags: <%=post.tags%></span><br> -->
                                </div>
                            </div>
                        </div>
                                
                    <%})%>
                    
                </div>
            </div>

        </main>
        <footer>
            <%- include("../../partials/footer.ejs") %>
        </footer>
        <script>
            $(".following-menu").addClass("active");
        </script>
    </body>
</html>