<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../../partials/head.ejs") %>
        <link rel="stylesheet" href="/css/post_show.css">
        <!-- Emoji picker -->
        <script src="https://cdn.tiny.cloud/1/xmwb6q2bv6myyuki756snb4ix03g3popvvykzh2jmiqbactr/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script>let thisPost = '<%-JSON.stringify(post)%>';
        
        </script>

        <script src="/js/post_show.js"></script>

    </head>
    <body>
        <header>
            <%- include("../../partials/nav.ejs") %>
            
        </header>
        <main class="section">
            <%- include("../../partials/main.ejs") %>
            <div class="row">
                <div class="col s2">
                    <button class="btn goback blue"><i class="material-icons">keyboard_backspace</i></a></button>
                </div>
                <div class="col s8">
                    <div class="card hoverable">                      
                        <div class="card-image">
                            <% if (post.img) {%>
                                <img src="<%=post.img%>" alt="">
                            <%} else {%>
                                <div class="video-container">
                                    <iframe src="<%=post.video%>" frameborder="0" allowfullscreen></iframe>
                                </div>
                                
                            <%}%>

                            <% if (currentUser.username === post.author) {%>
                                <a href="#" class="dropdown-trigger black-text" id="edit-btn" data-target="dropdown-edit">
                                    <i class="material-icons">more_vert</i>
                                </a>

                            <%}%>
                        </div>
                        <div class="card-content">
                            <div>
                                <% if (!post.likes.includes(currentUser.username)) {%>
                                    <i class="material-icons like-icon">favorite_border</i>
                                    <i class="material-icons red-text unlike-icon" style="display: none;">favorite</i> 
                                <%} else {%>
                                    <i class="material-icons like-icon" style="display: none;">favorite_border</i>
                                    <i class="material-icons red-text unlike-icon">favorite</i> 
                                <%}%>
                                
                                <i class="material-icons" id="comment">chat_bubble_outline</i>
                                <span class="right">by <a href="/users/<%=post.author%>"><%=post.author%></a></span>
                            </div>
                            <span><a href="#like-list" class="modal-trigger black-text"><strong><span class="like-qty"><%=post.likes.length%></span> Likes</strong></a> </span>
                            <span class="comment-show"><strong><%=post.comments.length%> Comments</strong> </span>
                            <% if (post.location) {%>
                                <span class="right"><i class="material-icons left">location_on</i><%=post.location%></span><br>
                            <%}%>
                            
                            <p><%=post.description%></p>
                            <% if (post.tags.length > 0) { %>
                                <span><%= "#" + post.tags.join(", #")%></span><br>

                            <%}%>
                            <span class="grey-text date-text">
                                <% if (post.created > 1) { %>
                                    <%=post.created%> Days Ago
                                <% } else if (post.created === 1) { %>
                                    1 Day Ago
                                <%} else {%>
                                    today
                                <%}%>
                                
                            
                            </span> 
                            <% if (post.edited) {%>
                                <span class="right">Edited</span>
                            <%}%>
                            

                            
                        </div>
                        <div class="card-action comment-box">
                            <div class="row">
                                <form action="/posts/<%=post._id%>/comment" method="POST">
                                    <textarea name="message" id="message" placeholder="Add a comment" ></textarea> 
                                    <button class="btn-small blue grey right" id="cancel-button">Cancel</button>                                  
                                    <input type="submit" class="btn-small blue right" value="POST">
                                    
                                    
                                </form>                              
                            </div>
                            
                        </div>
                        <div class="main-comments-container card-content">
                            <h5>Comments</h5>
                            <% post.comments.forEach(comment => {%>
                                <div class="comment-container">
                                    <a href="/users/<%=comment.user%>"><%=comment.user%> </a> 
                                    
                                    
                                    <span class="grey-text comment-date">
                                        <% if (comment.created > 1) { %>
                                            <%=comment.created%> Days Ago
                                        <% } else if (comment.created === 1) { %>
                                            1 Day Ago
                                        <%} else {%>
                                            today
                                        <%}%>
                                    </span> <br>


                                    <span class="comment-details"><%=comment.message%></span>
                                    
                                </div>

                            <%})%>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="like-list">
    
                <div class="modal-content">
                    <div class="modal-footer">
                        <a href="#" class="modal-close modal-action right"><i class="material-icons">close</i></a>
                    </div>
                    
                    
                    <h6 class="center-align"><strong>Likes</strong></h6>
                    <iframe id="like-board" src="/posts/<%=post._id%>/like" frameborder="0" height="500" width="100%"></iframe>
                    
                    
                </div>
            </div>


            <!-- dropdown list -->
            <ul id="dropdown-edit" class="dropdown-content">
                <li><a href="/posts/<%=post._id%>/edit" class="grey-text">Edit</a></li>
                <li><form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
                    <button class="btn-flat" type="submit">DELETE</button>
                </form></li>

            </ul>
                
        </main>
        <footer>
            <%- include("../../partials/footer.ejs") %>
        </footer>

    </body>
</html>