<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
        <link rel="stylesheet" href="/css/posts.css">
        <script src="/js/posts.js"></script>
    </head>
    <body>
        <header>
            <%- include("../partials/nav.ejs") %>
        </header>
        <main>
            <%- include("../partials/main.ejs") %>

            <div class="container post-container section">
                <div class="row">
                    <% posts.forEach(post => { %>
                        <div class="col s12 m6 xl4">
                            <div class="card hoverable medium post-card">
                                <div class="card-image">
                                    <% if (post.img) {%>
                                        <img src="<%=post.img%>" class="materialboxed">
                                    <%} else {%>
                                        <div class="video-container materialboxed">
                                            <!-- <video src="<%=post.video%>" width="100%"></video> -->
                                            <iframe src="<%=post.video%>" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                        
                                    <%}%>
                                </div>
                                <div class="card-content">
                                    <a href="/posts/<%=post._id%>" class="post-link"></a>

                                    <span><%=post.likes.length%> Likes</span>
                                    <span class="right">by <a href="/users/<%=post.author%>"><%=post.author%></a></span><br>
                                    <span class="grey-text date-text">
                                        <% if (post.created > 1) { %>
                                            <%=post.created%> Days Ago
                                        <% } else if (post.created === 1) { %>
                                            1 Day Ago
                                        <%} else {%>
                                            today
                                        <%}%>
                                    
                                    </span>
                                    <% if (post.location) {%>
                                        <span class="right"><i class="material-icons location-icon">location_on</i><%=post.location%></span><br>
                                    <%}%>
                                    
                                    <p class="truncate"><%=post.description%></p>
                                    <span><%= "#" + post.tags.join(", #")%></span><br>
                                    <!-- <span>tags: <%=post.tags%></span><br> -->

                                </div>
                            </div>
                        </div>
                                
                    <%})%>
                    
                </div>
            </div>

        </main>
        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>
        
    </body>
</html>