<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <header>
            <%- include("../partials/nav.ejs") %>
        </header>
        <main>
            <%- include("../partials/main.ejs") %>

            <div class="container post-container section">
                <div class="row">
                    <div class="col s12 m6 l4">
                        <div class="card hoverable">
                            <div class="card-image">
                                <% if (post.img) {%>
                                    <img src="<%=post.img%>" alt="">
                                <%} else {%>
                                    <video src="<%=post.video%>"></video>
                                <%}%>
                            </div>
                            <div class="card-content">
                                <span>Likes: <%=post.likes.length%></span>
                                <span>Author: <a href="/users/<%=post.author%>"><%=post.author%></a></span><br>
                                
                                <span>location: <%=post.location%></span>
                                
                                <p><%=post.description%></p>
                                <span>tags: <%=post.tags%></span><br>
                                <span><%=post.createdAt%></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer>

        </footer>
        
    </body>
</html>